<style>
    div {
      text-align: justify;
      text-justify: inter-word;
    }
    </style>
  
    <div class="main-content" id="panel">
      
        <div class="header bg-primary pb-6">
          <div class="container-fluid">
            <div class="header-body">
              
            </div>
          </div>
        </div>
        <div class="container-fluid mt--6">
          <!-- Page content -->
          <div class="row">
           
            <div class="col-xl-8 order-xl-1">
              <div class="card">
                <div class="card-header">
                  <div class="row align-items-center">
                    <div class="col-8">
                      <h3 class="mb-0">Job Description
                      </h3>
                    </div>
                  </div>
                </div>
                <div class="card-body">
                  <form>
                    <h6 class="heading-small text-muted mb-4">JOB INFORMATION</h6>
                    <div class="pl-lg-4">
                      <div class="row">
                        <div class="col-lg-12">
                          <div class="form-group">
                            <label class="form-control-label" for="input-username">Opening Name</label>
                            <label id="openingname" class="form-control">{{OPENING NAME}}<label>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-lg-4">
                          <div class="form-group">
                            <label class="form-control-label" for="category">Department</label>
                            <label id="department" class="form-control">{{DEPARTMENT}}<label>
                          </div>
                        </div>
                        <div class="col-lg-4">
                          <div class="form-group">
                            <label class="form-control-label" for="experience">Location</label>
                            <label id="location" class="form-control">{{LOCATION}}<label>
                          </div>
                        </div>
                        <div class="col-lg-8">
                          <div class="form-group">
                            <label class="form-control-label" for="noticePeriod">Status</label>
                            <div class="row">
                              <div class="col-md-6">
                                <label id="status" class="form-control">{{STATUS}}<label>
                              </div>
                              <div class="col-md-6">
                                <!-- <button class="btn btn-danger btn-md" id="button" type="button"
                                  onclick="activeInactive()">Button</button>
                              </div> -->
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-lg-12">
                          <div class="form-group">
                            <label class="form-control-label" for="appliedFor">Job Description</label>
                            <p id="jobdescription">{{JOB DESCRIPTION}}</p>
                          </div>
                        </div>
                        <div class="col-lg-12">
                          <div class="form-group">
                            <label class="form-control-label" for="appliedOn">Skills Required</label>
                            <p id="skillsRequired">{{Skills Required}}</p>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-lg-12">
                          <div class="form-group">
                            <label class="form-control-label">Responsibilities</label>
                            <p id="responsibilities"></p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
      <input type="hidden" name="" id="profileid" value="<%=profileId%>">
  
      <script>
        var token = '';
        var id = ''
        $(() => {
          token = window.localStorage.getItem('token');
          id = $("#profileid").val() || '';
          fetchCandidateProfile();
        });
        function fetchCandidateProfile() {
          $.ajax({
            type: "GET",
            url: "/join-us/api/v1/fetch/" + id,
            beforeSend: function (xhr) {
              xhr.setRequestHeader("Authorization", "Bearer " + token);
            },
            success: function success(result) {
              result = result.data;
              $("#openingname").text(result.openingName);
              $("#responsibilities").text(result.responsibilities);
              $("#location").text(result.location);
              if (result.isActive == 1) {
                $("#status").text("ACTIVE");
              }
              else {
                $("#status").text("INACTIVE");
              }
              $("#department").text(result.department);
              $("#jobdescription").text(result.description);
              $("#skillsRequired").text(result.skillsRequired);
            },
            error: function error(error) {
              errorNotification(error.responseJSON.message);
            }
          })
        }
      </script>